/* Top header */
.top-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  background: rgb(252, 252, 252);
  color: #2a2020;
  z-index: 20;
  padding: 15px 30px;
}

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .logo {
  font-size: 22px;
  font-weight: bold;
}

.top-header .highlight {
  color: #ffc107;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  color: #0f0d0d;
  font-size: 14px;
  gap: 20px;
}

.contact div {
  display: flex;
  align-items: center;
}

.contact i {
  color: #ffc107;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
  }
}

/* Navbar */
.navbar {
  position: absolute;
  top: 56px;
  left: 10px;
  width: 93%;
  background: rgba(41, 41, 41, 0.941);
  padding: 15px 40px;
  z-index: 9;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  color: #fff;
  padding: 6px 12px;
  transition: background 0.3s, color 0.3s;
}

.nav-links .active {
  background: #ffc107;
  color: #000;
  border-radius: 4px;
}

/* Hero Section */
.hero {
  background: url('R.jpeg');
  height: 80vh;
  color: #0d0b0b;
  di
